<div class="jumbotron">
  <h1>Howdy, world!</h1>
  <img src="..." class="img-responsive img-circle" alt="Responsive headshot">
  <p class="lead">My name is Ivana Rodriguez and I use technology to solve problems</p>
  <p><a href="#">View my work!</a></p>
</div>